body{
    background-color: brown;
}

h1 {
    color: white;
    text-align: center;
    
}

li {
    border-radius: 50px; 
    padding: 50px;
    width: 223px; 
    height: 311px;
    margin: 0 auto;
    transition: .1s ease-in-out;    
    color: peachpuff;
}

li:hover {
    transform: scale(1.2);
    transform: .2s ease-in-out;
}